<a href="https://colab.research.google.com/github/lauraosede/Machine-Learning-for-Insurance-Predicting-Claimants/blob/main/Classification_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Import libraries

In [ ]:
#Importing required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.impute import KNNImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import decomposition, datasets
from sklearn import neighbors
from sklearn.decomposition import PCA

## Descriptive analysis

#### Load data

In [ ]:
#loading the travel data sets
travel_data_path = '/content/drive/MyDrive/Design and application of a machine learning system for a practical problem/machine learning assessment/clients data/CE802_P2_Data.csv'
travel_data = pd.read_csv(travel_data_path)

In [ ]:
#Viewing summary of the data fields 
travel_data.describe()

                F1           F2  ...          F14         F15
count  1500.000000  1500.000000  ...  1500.000000  750.000000
mean     -4.569780   -20.474600  ...     0.147533    5.783013
std       7.662813     7.635517  ...     2.491236    1.005117
min     -29.760000   -45.570000  ...    -4.360000    3.060000
25%     -10.260000   -26.130000  ...    -2.230000    5.062500
50%      -7.560000   -23.445000  ...     1.100000    5.790000
75%       2.917500   -13.110000  ...     1.982500    6.530000
max       8.850000    -6.780000  ...     7.880000    8.140000

[8 rows x 15 columns]

In [ ]:
travel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   F1      1500 non-null   float64
 1   F2      1500 non-null   float64
 2   F3      1500 non-null   int64
 3   F4      1500 non-null   float64
 4   F5      1500 non-null   float64
 5   F6      1500 non-null   float64
 6   F7      1500 non-null   float64
 7   F8      1500 non-null   float64
 8   F9      1500 non-null   float64
 9   F10     1500 non-null   int64
 10  F11     1500 non-null   float64
 11  F12     1500 non-null   float64
 12  F13     1500 non-null   float64
 13  F14     1500 non-null   float64
 14  F15     750 non-null    float64
 15  Class   1500 non-null   bool
dtypes: bool(1), float64(13), int64(2)
memory usage: 177.4 KB

In [ ]:
#Viweing Show first 15 rows in our dataframe
travel_data.columns 
travel_data.head(15)

       F1     F2   F3     F4    F5  ...     F12   F13   F14   F15  Class
0    4.92 -13.23  330  13.22 -5.51  ...  259.66  8.00 -0.35  4.76  False
1   -9.33 -27.72    3  12.78 -9.12  ...  131.66  0.76  1.79   NaN  False
2  -15.09 -26.28    6  13.54 -7.75  ...   63.66  0.64  2.02   NaN   True
3  -18.09 -24.60   30  13.28 -8.61  ...  133.66  0.57  1.98   NaN   True
4    6.12  -8.64  300  14.94 -1.97  ...  229.66  6.70 -3.83   NaN   True
5    6.72 -12.90  325  11.54 -3.94  ...   39.66  9.25 -3.27  7.02   True
6   -8.61 -23.79   44  12.48 -7.29  ...   95.66  0.56  1.98  6.53   True
7    5.85  -9.39  390  13.68 -2.43  ...  109.66  5.50 -3.84   NaN  False
8  -13.80 -27.00   25  11.72 -9.73  ...   83.66  0.56  4.96   NaN  False
9    4.02 -11.46   95  10.38 -6.33  ...  139.66  5.70 -2.87   NaN   True
10   3.99 -12.84  235  13.78 -3.19  ...  109.66  5.20 -0.36   NaN  False
11 -10.71 -24.24   16  14.22 -7.90  ...   59.66  0.47  3.66   NaN   True
12 -11.07 -26.40    0  11.12 -7.56  ...   65.66  0.84  2.48  5.39   True
13  -3.06 -10.35   55   9.62 -3.31  ...   19.66  7.35 -2.26  7.26   True
14 -13.98 -26.55   28  12.00 -7.46  ...   73.66  0.67  2.35   NaN  False

[15 rows x 16 columns]

## Data treatment

In [ ]:
#defining Min Max scaler
scaler = MinMaxScaler()

#### Dealing with missing data using dropna

In [ ]:
baseline_dataset = travel_data.dropna(axis=0)
print(baseline_dataset)

         F1     F2   F3     F4    F5  ...     F12   F13   F14   F15  Class
0      4.92 -13.23  330  13.22 -5.51  ...  259.66  8.00 -0.35  4.76  False
5      6.72 -12.90  325  11.54 -3.94  ...   39.66  9.25 -3.27  7.02   True
6     -8.61 -23.79   44  12.48 -7.29  ...   95.66  0.56  1.98  6.53   True
12   -11.07 -26.40    0  11.12 -7.56  ...   65.66  0.84  2.48  5.39   True
13    -3.06 -10.35   55   9.62 -3.31  ...   19.66  7.35 -2.26  7.26   True
...     ...    ...  ...    ...   ...  ...     ...   ...   ...   ...    ...
1490   5.37 -14.55  380  15.32 -4.35  ...   89.66  9.85 -3.83  5.10  False
1491   5.76 -14.97  210   8.76 -3.79  ...  -60.34  8.75 -2.51  7.39   True
1493  -8.25 -17.34   85  10.44 -5.51  ...  199.66  6.70 -1.84  5.24  False
1497  -3.78 -14.97  155   9.20 -4.18  ...  -50.34  6.15 -0.76  4.42  False
1498   1.38 -14.97  190  13.36 -6.31  ...  269.66  8.30 -2.63  3.29  False

[750 rows x 16 columns]

In [ ]:
#selecting the prediction target for dropna dataset
y_baseline = baseline_dataset.Class

#choosing the prediction features
X_baseline = baseline_dataset.drop('Class', axis = 1)
X_baseline = scaler.fit_transform(X_baseline)

##### Train and test split

In [ ]:
#Splitting the dataset into the Training set and Test set
# split data into training and validation data, for both features and target
X_baseline_train, X_baseline_test, y_baseline_train, y_baseline_test =  train_test_split(X_baseline,y_baseline,test_size = 0.25, random_state= 0)

#### Dealing with missing data using other imputation methods (Simple Imputation (constant & median), KNN, itieratieve imputer.

In [ ]:
#selecting the prediction target
y = travel_data.Class

#choosing the prediction features
X = travel_data.drop('Class', axis = 1)

In [ ]:
#Splitting the dataset into the Training set and Test set
X_train, X_test, y_train, y_test =  train_test_split(X,y,test_size = 0.25, random_state= 0)

##### Imputation methods

In [ ]:
#testing various imputation methods
imputation_method = [
                      SimpleImputer(strategy= 'median', missing_values= np.nan),
                      SimpleImputer(strategy= 'constant', fill_value = 1, missing_values= np.nan),
                      KNNImputer(missing_values= np.nan),
                      IterativeImputer(missing_values= np.nan, random_state=0)

]

## Model selection

#### Model selection on baseline data set (data where we dropped na)

In [ ]:
#using Decision tree algorithm on baseline module
clf = DecisionTreeClassifier(random_state=0)
clf.fit(X_baseline_train, y_baseline_train)
result = clf.score(X_baseline_test, y_baseline_test)
print(result)
print("Accuracy: %.2f%%" % (result*100.0))

0.8297872340425532
Accuracy: 82.98%

In [ ]:
#using random forest algorithm on baseline module
model = RandomForestClassifier(max_depth=2, random_state=0)
model.fit(X_baseline_train, y_baseline_train)
result = model.score(X_baseline_test, y_baseline_test)
print(result)
print("Accuracy: %.2f%%" % (result*100.0))

0.9095744680851063
Accuracy: 90.96%

In [ ]:
#using KNN on baseline module
model = KNeighborsClassifier(n_neighbors=3)
model.fit(X_baseline_train, y_baseline_train)
result = model.score(X_baseline_test, y_baseline_test)
print(result)
print("Accuracy: %.2f%%" % (result*100.0))

0.8670212765957447
Accuracy: 86.70%

In [ ]:
#using logistic regressor on baseline dataset
model = LogisticRegression(random_state=0)
model.fit(X_baseline_train, y_baseline_train)
result = model.score(X_baseline_test, y_baseline_test)
print(result)
print("Accuracy: %.2f%%" % (result*100.0))

0.9042553191489362
Accuracy: 90.43%

#### Model selection on other imputation methods

In [ ]:
#using decision tree classifier
classify = DecisionTreeClassifier()

#testing different parameters
parameter_grid = {
    'classifier__criterion': ['gini', 'entropy'],
    'classifier__splitter':['best', 'random'],
    'classifier__max_depth': [2,20,200],
    'classifier__min_samples_split': [2,7,25,100],
    'classifier__max_features': [None, 'auto', 'sqrt', 'log2']
}
for impute in imputation_method:
  pipelines = Pipeline(steps=[('scaler', scaler),
                              ('imputer', impute),
                              ('classifier', classify)])
  
  cross_validation = GridSearchCV(pipelines, parameter_grid, cv = 5)
  cross_validation.fit(X_train, y_train)
  print(cross_validation.best_estimator_)
  print(cross_validation.score(X_test, y_test))
  print("\n")

Pipeline(memory=None,
         steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                ('imputer',
                 SimpleImputer(add_indicator=False, copy=True, fill_value=None,
                               missing_values=nan, strategy='median',
                               verbose=0)),
                ('classifier',
                 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                        criterion='entropy', max_depth=200,
                                        max_features=None, max_leaf_nodes=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1,
                                        min_samples_split=100,
                                        min_weight_fraction_leaf=0.0,
                                        presort='deprecated', random_state=None,
                                        splitter='best'))],
         verbose=False)
0.7866666666666666


Pipeline(memory=None,
         steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                ('imputer',
                 SimpleImputer(add_indicator=False, copy=True, fill_value=1,
                               missing_values=nan, strategy='constant',
                               verbose=0)),
                ('classifier',
                 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                        criterion='gini', max_depth=20,
                                        max_features=None, max_leaf_nodes=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1,
                                        min_samples_split=25,
                                        min_weight_fraction_leaf=0.0,
                                        presort='deprecated', random_state=None,
                                        splitter='best'))],
         verbose=False)
0.7706666666666667


Pipeline(memory=None,
         steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                ('imputer',
                 KNNImputer(add_indicator=False, copy=True,
                            metric='nan_euclidean', missing_values=nan,
                            n_neighbors=5, weights='uniform')),
                ('classifier',
                 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                        criterion='gini', max_depth=200,
                                        max_features=None, max_leaf_nodes=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1,
                                        min_samples_split=25,
                                        min_weight_fraction_leaf=0.0,
                                        presort='deprecated', random_state=None,
                                        splitter='random'))],
         verbose=False)
0.768


Pipeline(memory=None,
         steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                ('imputer',
                 IterativeImputer(add_indicator=False, estimator=None,
                                  imputation_order='ascending',
                                  initial_strategy='mean', max_iter=10,
                                  max_value=None, min_value=None,
                                  missing_values=nan, n_nearest_features=None,
                                  random_state=0, sample_posterior=False,
                                  skip_complete=False, tol=0.001, verbose=0)),
                ('classifier',
                 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                        criterion='entropy', max_depth=20,
                                        max_features='auto',
                                        max_leaf_nodes=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1,
                                        min_samples_split=25,
                                        min_weight_fraction_leaf=0.0,
                                        presort='deprecated', random_state=None,
                                        splitter='best'))],
         verbose=False)
0.7866666666666666

In [ ]:
#using KNN classifier
model = neighbors.KNeighborsClassifier()

# Create a pca object
pca = decomposition.PCA()

# Creating Parameter Space
# Create a list of a sequence of integers from 1 to 30 (the number of features in X + 1)
n_components = list(range(1,X.shape[1]+1,1))

# Creating lists of parameter for KNeighborsRegressor()
n_neighbors = [2, 3, 5, 10]
algorithm = ['auto',  'ball_tree', 'kd_tree', 'brute']

#testing different parameters
parameter_grid = {
    'pca__n_components': n_components,
    'KNN__n_neighbors': n_neighbors,
    'KNN__algorithm': algorithm
}
    
for impute in imputation_method:
  pipelines = Pipeline(steps=[('scaler', scaler),
                              ('imputer', impute),
                              ('pca', pca),
                              ('KNN', model)])
 
  cross_validation = GridSearchCV(pipelines, parameter_grid)
  cross_validation.fit(X_train, y_train)
  print(cross_validation.best_estimator_.get_params()['pca__n_components'])
  print(); print(cross_validation.best_estimator_.get_params()['KNN'])
  print(cross_validation.score(X_test, y_test))
  print("\n")

9

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')
0.7306666666666667


9

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')
0.7573333333333333


9

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')
0.7413333333333333


9

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')
0.784

In [ ]:
#using random forest classifier

model = RandomForestClassifier()


# Creating Parameter Space
#testing different parameters
parameter_grid = {
    'classifier__criterion': ['gini', 'entropy'],
    'classifier__max_depth': [5, 10, 100],
    'classifier__min_samples_split': [2,4,6]
}
    
for impute in imputation_method:
  pipelines = Pipeline(steps=[('scaler', scaler),
                              ('imputer', impute),
                              ('classifier', model)])
 
  cross_validation = GridSearchCV(pipelines, parameter_grid, cv=5)
  cross_validation.fit(X_train, y_train)
  print(cross_validation.best_estimator_)
  print(cross_validation.score(X_test, y_test))
  print("\n")

Pipeline(memory=None,
         steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                ('imputer',
                 SimpleImputer(add_indicator=False, copy=True, fill_value=None,
                               missing_values=nan, strategy='median',
                               verbose=0)),
                ('classifier',
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='entropy',
                                        max_depth=100, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))],
         verbose=False)
0.8506666666666667


Pipeline(memory=None,
         steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                ('imputer',
                 SimpleImputer(add_indicator=False, copy=True, fill_value=1,
                               missing_values=nan, strategy='constant',
                               verbose=0)),
                ('classifier',
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='entropy',
                                        max_depth=10, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=6,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))],
         verbose=False)
0.8506666666666667


Pipeline(memory=None,
         steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                ('imputer',
                 KNNImputer(add_indicator=False, copy=True,
                            metric='nan_euclidean', missing_values=nan,
                            n_neighbors=5, weights='uniform')),
                ('classifier',
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='gini',
                                        max_depth=10, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))],
         verbose=False)
0.8346666666666667


Pipeline(memory=None,
         steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                ('imputer',
                 IterativeImputer(add_indicator=False, estimator=None,
                                  imputation_order='ascending',
                                  initial_strategy='mean', max_iter=10,
                                  max_value=None, min_value=None,
                                  missing_values=nan, n_nearest_features=None,
                                  random_state=0, sample_posterior=False,
                                  skip_complete=False, tol=0.00...
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='entropy',
                                        max_depth=100, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=4,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))],
         verbose=False)
0.8773333333333333

#### Estimation of performance

In [ ]:
best_model = Pipeline(steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                             ('imputer', IterativeImputer(add_indicator=False, estimator=None,
                                  imputation_order='ascending',
                                  initial_strategy='mean', max_iter=10,
                                  max_value=None, min_value=None,
                                   n_nearest_features=None,
                                  random_state=0, sample_posterior=False)),
                              ('classifier' , RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='entropy',
                                        max_depth=100, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))
                              ])

In [ ]:
# fit the model with the training data
best_model.fit(X_train,y_train)

Pipeline(memory=None,
         steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                ('imputer',
                 IterativeImputer(add_indicator=False, estimator=None,
                                  imputation_order='ascending',
                                  initial_strategy='mean', max_iter=10,
                                  max_value=None, min_value=None,
                                  missing_values=nan, n_nearest_features=None,
                                  random_state=0, sample_posterior=False,
                                  skip_complete=False, tol=0.00...
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='entropy',
                                        max_depth=100, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [ ]:
# predict target values on the training data
pred= best_model.predict(X_test)

In [ ]:
print(pred)

[False False  True False False False False  True  True  True  True  True
  True  True False  True  True False  True  True False  True  True  True
 False  True False False  True False  True  True False  True False False
  True  True False  True False  True False  True False  True False False
 False  True  True False False  True  True False False  True False  True
  True False  True False False False False False False  True False False
 False  True  True False False  True  True  True False  True  True False
  True  True False False False False False False False False False  True
  True False  True  True  True  True  True  True False  True False False
  True False  True  True False False  True False  True False False  True
 False False  True  True False False  True  True  True  True False False
  True False  True False False False False  True  True False  True  True
  True  True False  True False  True False  True  True False  True False
  True  True  True False False False False  True  True False False  True
 False False False False  True  True False False  True False False False
  True  True False False False  True False  True  True  True  True  True
  True False  True False False False  True  True False  True False  True
 False  True  True  True  True  True False False False False False  True
 False  True  True False  True  True  True False False False  True  True
 False False  True  True  True  True False False  True  True False  True
  True False False  True False False  True  True False False False  True
  True  True False False  True  True  True False False False False False
 False  True False False False  True False False False False False False
  True False False  True False  True False  True  True  True False False
  True False False False False  True  True False  True  True  True False
 False False False False  True  True False False False False  True  True
 False  True False  True  True  True  True False False  True  True  True
  True False  True  True False  True False  True  True  True  True  True
  True  True  True False False  True False  True False  True  True False
  True  True False  True  True  True False False  True False  True  True
 False False  True False  True  True False False False False False  True
  True  True  True]

In [ ]:
#evaluating model accuracy using confusion matrix
cm = confusion_matrix(y_test, pred)

In [ ]:
print(cm)

[[166  29]
 [ 21 159]]

In [ ]:
matrix = classification_report(y_test, pred)
print(matrix)

              precision    recall  f1-score   support

       False       0.89      0.85      0.87       195
        True       0.85      0.88      0.86       180

    accuracy                           0.87       375
   macro avg       0.87      0.87      0.87       375
weighted avg       0.87      0.87      0.87       375

In [ ]:
#accuracy score on test data 
accuracy_test = accuracy_score(y_test, pred)
print('Accuracy Score on train data: ' + str(accuracy_test))

Accuracy Score on train data: 0.8666666666666667

### Predictions on a hold-out test set

In [ ]:
#load test data
data_path = '/content/drive/MyDrive/Design and application of a machine learning system for a practical problem/machine learning assessment/clients data/CE802_P2_Test.csv'
test_data = pd.read_csv(data_path)

In [ ]:
test_data.head()

     F1     F2   F3     F4    F5     F6  ...    F11     F12   F13   F14   F15  Class
0 -8.67 -25.56   21  13.14 -7.45   5.55  ...  -1.17   61.66  0.23  3.76  7.60    NaN
1 -8.31 -29.19   10  12.16 -7.66   5.22  ...  -0.96   79.66  0.02  1.22  6.72    NaN
2 -0.84 -25.29  110  12.34 -3.72  20.70  ...  11.10  -20.34  5.75 -1.97   NaN    NaN
3  0.90 -14.94  120   9.44 -3.44  28.05  ...   6.33  229.66  8.05 -1.77   NaN    NaN
4 -0.33  -9.60  345  14.26 -3.32  34.80  ...  12.18  129.66  9.80 -2.17  6.60    NaN

[5 rows x 16 columns]

In [ ]:
new_test_data = test_data.drop('Class', axis = 1)

In [ ]:
# predict target variables on the test data
predictions = best_model.predict(new_test_data)

In [ ]:
pred_df = pd.DataFrame(predictions)

In [ ]:
pred_df.value_counts()

False    817
True     683
dtype: int64

In [ ]:
print(test_data)

         F1     F2   F3     F4    F5  ...     F12   F13   F14   F15  Class
0     -8.67 -25.56   21  13.14 -7.45  ...   61.66  0.23  3.76  7.60    NaN
1     -8.31 -29.19   10  12.16 -7.66  ...   79.66  0.02  1.22  6.72    NaN
2     -0.84 -25.29  110  12.34 -3.72  ...  -20.34  5.75 -1.97   NaN    NaN
3      0.90 -14.94  120   9.44 -3.44  ...  229.66  8.05 -1.77   NaN    NaN
4     -0.33  -9.60  345  14.26 -3.32  ...  129.66  9.80 -2.17  6.60    NaN
...     ...    ...  ...    ...   ...  ...     ...   ...   ...   ...    ...
1495   2.07 -12.18   55   9.10 -3.70  ...   89.66  7.45 -1.42  5.03    NaN
1496  -8.73 -28.92   20  14.86 -7.81  ...   85.66  0.02  1.75  4.87    NaN
1497 -20.43 -29.97   13  13.58 -7.32  ...  115.66  0.47  1.17   NaN    NaN
1498  -7.50 -26.49    9  14.08 -7.28  ...   95.66  0.29  1.79   NaN    NaN
1499   5.61 -13.26  265  15.62 -2.43  ...  219.66  5.20 -3.10   NaN    NaN

[1500 rows x 16 columns]

In [ ]:
# Save the predictions to a test_data 
test_data['Class'] = predictions

In [ ]:
test_data.head()

     F1     F2   F3     F4    F5     F6  ...    F11     F12   F13   F14   F15  Class
0 -8.67 -25.56   21  13.14 -7.45   5.55  ...  -1.17   61.66  0.23  3.76  7.60   True
1 -8.31 -29.19   10  12.16 -7.66   5.22  ...  -0.96   79.66  0.02  1.22  6.72   True
2 -0.84 -25.29  110  12.34 -3.72  20.70  ...  11.10  -20.34  5.75 -1.97   NaN  False
3  0.90 -14.94  120   9.44 -3.44  28.05  ...   6.33  229.66  8.05 -1.77   NaN  False
4 -0.33  -9.60  345  14.26 -3.32  34.80  ...  12.18  129.66  9.80 -2.17  6.60   True

[5 rows x 16 columns]

In [ ]:
test_data.to_csv(r'/content/drive/MyDrive/Design and application of a machine learning system for a practical problem/final submission/CE802_P2_Test.csv', index= False)